* {box-sizing: border-box; margin: 0; padding: 0;}
*::after {box-sizing: border-box;}
*::before {box-sizing: border-box;}

button, input, textarea, select {font-family: inherit;}

button, a {cursor: pointer;}
a {text-decoration: none;}

ol, ul {list-style: none;}

img {display: block; max-width: 100%;}