@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './assets/samurai-sass/sass/samurai-sass';

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    @extend .light;
}

$colors: (
    base: (
        'grey': #CAD3C8,
        'orange': #F97F51,
        'success': #58B19F,
        'danger': #6D214F,
        'dark': #2C3A47,
        'light': #fafafa
    ),
    font: (
        'dark': #2C3A47,
        'light': #fafafa,
        'orange': #F97F51,
    ),
    hover: (
        'dark': Bright(#2C3A47, -5),
        'success': Bright(#58B19F, -10),
        'danger': Bright(#6D214F, -10),
    )
);

@include color-palette($colors);